/* Footer Container */
footer {
    background-color: #061650;
    color: #de2929;
    padding: 30px 0;
}

.container-fluid.mt-5{
    background-color: rgb(232, 232, 233);
}

/* Footer Content */
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer Logo */
.footer-logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Footer Description */
.footer-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Footer Links Section */
.footer-links {
    flex: 1;
    margin-top: 20px;
}

.footer-links h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-links a {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

/* Footer Social Media Section */
.footer-social {
    flex: 1;
}

.footer-social h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-social a {
    display: inline-block;
    color: #ccc;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #fff;
}

/* Footer Attribution */
.footer-attribution {
    text-align: center;
    background-color: #0a0d2a;
    padding: 10px 0;
}

.footer-attribution p {
    font-size: 14px;
    margin: 0;
    color: #ccc;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-social {
        margin-top: 30px;
    }

    .footer-links h5,
    .footer-social h5 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}
